.applet-expandable {
	cursor: pointer;
	color: black;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	background-color: white;
}
.applet-expandable:hover {
	background-color: GhostWhite;
}
.expand-icon {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	background-color: DarkTurquoise;
	color: white;
	font-family: Courier;
	padding-left: 4px;
	padding-right: 4px;
}
.collapse-icon {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	background-color: Orange;
	color: white;
	font-family: Courier;
	padding-left: 4px;
	padding-right: 4px;
}
.panel-title {
	text-align: left;
}
.main-title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 2.2em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	text-shadow: 5px 5px 5px silver;
	color: MidnightBlue;
}
.main-title>a:hover {
	text-decoration: none;
}
.main-subtitle {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.main-subtitle-text {
	font-size: 0.8em;
	font-family: Verdana;
	font-style: italic;
	border-style: none;
	border-radius: 8px;
	color: white;
	background-color: Gold;

}
.creator {
	font-size: 0.8em;
}
.powered {
	font-size: 0.8em;
	float: right;
}
.applet-menu-bar {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	background-color: white;
}
.applet-page-menu {
	font-family: Verdana;
	text-align: left;
	background-color: white;
}
.menu-bar {
}
.menu-item-inactive {
	background-color: white;
	cursor: pointer;
	color: gray;
	border-style: none;
	border-radius: 4px;
	padding: 4px;
}
.menu-item-inactive:hover {
	background-color: GhostWhite;
}
.applet-menu-bar .menu-item-active {
	background-color: DarkTurquoise;
	color: white;
	border-style: none;
	border-radius: 4px;
	padding: 4px;
}
.applet-page-menu .menu-item-active {
	background-color: white;
	color: black;
	font-weight: bold;
	padding: 4px;
}
td.logo {
	width: auto;
}
td.title {
	width: auto;
	text-align: center;
	padding: 5px;
}
td.menu {
	width: 100%;
}
td.login {
	width: auto;
}
table.menu-bar {
	margin-left: auto;
	margin-right: auto;
}
.page-title {
	width: auto;
	text-align: center;
	font-size: 1.2em;
	color: IndianRed;
	font-weight: bold;
	font-family: Courier;
}
.table-navigation {
	cursor: pointer;
	color: black;
}
.table-navigation:hover {
	background-color: GhostWhite;
}
.submit-form {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}
