@font-face {
  font-family: 'Champagne & Limousines';
  src: url('Champagne & Limousines Bold.woff') format('woff'),
       url('Champagne & Limousines Bold.ttf') format('truetype');
}
.applet-expandable {
	cursor: pointer;
	color: black;
	width: 100%;
	background-color: white;
	border-style: dotted;
	border-width: 1px;
	border-radius: 4px;
}
.applet-expandable:hover {
	background-color: GhostWhite;
}
.expand-icon {
	color: DarkGreen;
}
.plus-icon {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	background-color: DarkTurquoise;
	color: white;
	font-family: Courier;
	padding-left: 4px;
	padding-right: 4px;
}
.collapse-icon {
	color: LightGreen;
}
.minus-icon {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	background-color: Orange;
	color: white;
	font-family: Courier;
	padding-left: 4px;
	padding-right: 4px;
}
.panel-title {
	text-align: left;
}
.main-title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 2.2em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	text-shadow: 5px 5px 5px silver;
	color: MidnightBlue;
}
.main-title>a:hover {
	text-decoration: none;
}
.main-subtitle {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.main-subtitle-text {
	font-size: 0.8em;
	font-family: Verdana;
	font-style: italic;
	border-style: none;
	border-radius: 8px;
	color: white;
	background-color: Gold;

}
.creator {
	font-size: 0.8em;
}
.powered {
	font-size: 0.8em;
	float: right;
}
.applet-menu-bar {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	background-color: white;
}
.applet-page-menu {
	font-family: Verdana;
	text-align: left;
	background-color: white;
}
.menu-bar {
}
.menu-item-inactive {
	background-color: white;
	cursor: pointer;
	color: gray;
	border-style: none;
	border-radius: 4px;
	padding: 4px;
}
.menu-item-inactive:hover {
	background-color: GhostWhite;
}
.applet-menu-bar .menu-item-active {
	background-color: SkyBlue;
	color: white;
	border-style: none;
	border-radius: 4px;
	padding: 4px;
}
.applet-page-menu .menu-item-active {
	background-color: white;
	color: black;
	font-weight: bold;
	padding: 4px;
}
td.logo {
	width: auto;
}
td.title {
	width: auto;
	text-align: center;
	padding: 5px;
}
td.menu {
	width: 100%;
}
td.login {
	width: auto;
}
table.menu-bar {
	margin-left: auto;
	margin-right: auto;
}
.page-title {
	width: auto;
	text-align: center;
	font-size: 1.2em;
	color: IndianRed;
	font-weight: bold;
	font-family: "Champagne & Limousines";
	font-size: large;
}
.table-navigation {
	cursor: pointer;
	color: black;
}
.table-navigation:hover {
	background-color: GhostWhite;
}
.submit-form {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.right {
	float: right;
}
[data-tooltip] {
  position: relative;
}

[data-tooltip]:before {
  content: "";
  position: absolute;
  border-top: 10px solid hsla(0, 0%, 20%, 0.9);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  visibility: hidden;
  top: -9px;
  left: -1px;
  opacity: 0.9;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  top: -39px;
  left: -26px;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  padding: 5px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0.9;
}

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
  visibility: visible;
  -webkit-transition: visibility 0s linear .3s;
  -moz-transition: visibility 0s linear .3s;
  -o-transition: visibility 0s linear .3s;
  transition: visibility 0s linear .3s;
  opacity: 0.9;
}

.more-link .more-body { display: none; }

.more-link:hover > .more-body {
	display: block;
	background-color: GhostWhite;
	border-radius: 8px;
	border-style: none;
	padding: 8px;
}

.popup-head .popup-body { display: none; }

.popup-head:hover > .popup-body {
	display: block;
	border: gray solid thin;
	border-radius: 4px;
	background-color: white;
	position: absolute;
	z-index: 999;
	padding: 4px 4px;
    box-shadow: 4px 4px 4px #888888;
    max-width: 960px;
}

.popup-menu-item {
  background-color: white;
  cursor: pointer;
  color: gray;
  border-style: none;
  padding: 2px;
}
.popup-menu-item:hover {
  background-color: GhostWhite;
}
