body {
	background-color: orange;
	background-image: url("Abstract_technical_background.jpg");
	color: black;
}
.applet-info {
}
.applet-name {
	font-size: 1.2em;
	color: black;
}
.more-icon {
	cursor: pointer;
}
.error {
	color: red;
}
textarea {
	tab-size: 4;
}
.expandable {
	background-color: white;
	color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
}
